.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: #f8f9fa; /* Optional: Adjust background color */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Keeps it above other content */
}

.title {
    font-size: 2rem; /* Adjusts size for different screens */
    text-align: center;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }
}

.flow-map{
    width: 60vw;
    height: 80vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.main{
    position: fixed;
    display: flex;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.add-buttons-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 10vw;
}

.edit-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-self: stretch;
    justify-content: space-between;
}

.node-popup{
    position: relative;
    top:20%;
    left:50%;
    transform: translate(-50%,-20%);
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.add-button {
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 16px;
}
.download-button {
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 16px;
}

.popup-button{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
}
